div#wrap {
  width: 960px;
  margin: 0 auto;
}

div#main {
  width: 670px;
  float: left;
  margin-right: 30px;
}

div#sub {
  width: 260px;
  float: left;
}

div#articles {
  width: 460px;
  float: right;
  margin-left: 30px;
}

aside#comments {
  width: 180px;
  float: right;
}

footer:before {
  content: "";
  display: table;
  clear: both;
}
